.deleteButton {
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  color: whitesmoke;
  outline: 0;
  overflow: hidden;
  background: #0061fee0;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill-blue:hover {
  color: whitesmoke;
}

.fill-blue:before {
  content: "";
  position: absolute;
  background: #004dc7;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill-blue:hover:before {
  top: 0;
}
