.buttonUnderLine::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgb(187, 181, 174);
}

.buttonUnderLine:hover::after {
  background: black;
}

.buttonUnderLine:hover {
  background: transparent;
}

.buttonUnderLine {
  color: black;
  position: relative;
}

.modal {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.3;
}

.change-your-name-box {
  position: absolute;
  width: 500px;
  height: 200px;
  background: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
}

.inputbox {
  position: relative;
  z-index: 1000000;
}
