.panel {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid var(--border-grey);
  background: var(--color-smoke-white);
  box-sizing: border-box;
  width: 240px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .panel {
    width: 190px;
  }
}
