.social-signup-container{
    width: 300px;
    height: 300px;
     box-shadow: rgba(99, 114, 130, 0.5) 0px 1px 4px 0px;
   
   }
   
   .social-signup-title{
   
   }
   
   .social-signup-textfield-container{
   
   }
   
   .social-signup-textfield{
   
   }