@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-grey: #dbdbdb;
  --font-color-primary: #1a1918;
  --border-blue: #428bff;
  --color-blue: #0061fee0;
  --color-blue-secondary: #004dc7;
  --color-brown: #ebe0cc;
  --color-brown-secondary: #e3d3b7;
  --color-grey: #808080;
  --color-grey-secondary: #736c64;
  --color-smoke-white: #f7f5f2;
  --color-green: #267b5e;
  --color-greyed: #bbb5ae;
  --color-red: #b50032;
  --color-brown-dark: #fbf4ea;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
